/* Global styles */

@import "tailwindcss";

@layer base {
	html,
	body {
		@apply bg-white text-gray-900;
	}
}

@theme {
	--font-sans: "Inter", sans-serif;
}

@utility grid-flex {
	grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}

@utility grid-flex-* {
	grid-template-columns: repeat(
		auto-fit,
		minmax(min(--value([length]), 100%), 1fr)
	);
}
